$primaryColor:  hsla(100, 84%, 38%, 1);
$secondaryColor: hsla(21, 100%, 44%, 1);
$font: Inter ,san-serif;
$textColor:hsla(0, 0%, 14%, 1);
$linkColor:hsla(0, 0%, 14%, 1);
$headingColor:hsla(0, 0%, 14%, 1);
$fontSize: 1.6rem;
$white: hsla(0, 0%, 100%, 1);
$green: hsla(100, 99%, 90%, 1);
$green-1:#C5FFA8;
$orange: #FFF0E7;
$orange-1: #FFBA94;