
$colum-space : 20px;
$container-width: 1200px;
$gird-column: 12 ;

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.scsss {
    max-width: 1600px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
     margin: 0  calc(-1 * $colum-space / 2);    
}
/* Khai báo chia cột*/
    [class^="col-"] {
        padding: 0 $colum-space / 2;
    }

    @mixin column($breakpoint:"") {
        
        @for $i from 1 through $gird-column {
            $prefix: "";
            @if ($breakpoint != "") {
                $prefix: $breakpoint + "-";
            }
            #{".col-" + $prefix + $i} {
                flex-basis:  100% / ($gird-column / $i);
                max-width:100% / ($gird-column / $i) ;
            }
        }
    }

$breakpoints : (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl:1200px,
    xxl: 1400px,
);


    @include column();
    @each $breakpoint, $width in $breakpoints {
        @media screen and (min-width:$width) {
            @include column($breakpoint);
        }
    }