* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    /* khi focus sẽ hiện outline */
}
 /* float : chôi các thành phần về bên trái hoặc bên phải của thành phần trang
 + none 
 + left
 + right
 */
.box {
    width: 300px;
    height: auto;
    border: 1px solid black;
    margin: 10px;
    overflow: hidden;
}
 .col-1 img {
   width: 150px; 
   height: 100px;
   shape-outside: ellipse(-100%);
   border-radius: 50%;
   margin-right: 20px;
   float: left;
}
/* .box .col-1 {
    color: #fff;
    width: 100px;
    height: 100px;
    float: left;
} */


.box .col-2 {
    background: rgba(157, 71, 71, 0);
    color: #151515;
    width: 300px;
    height: auto;
}

