* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

.content {
    max-width: 80%;
    display: flex;
    margin: 1% auto;
    height: auto;
    background: #30a3fb;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    }

.arrow, .bars {
    color: #30a3fb;
    transition: 0.2s;
    }


.navbar-hovers label{
    font-size: 2rem;
}
.navbar-hovers {
    position: relative;
    z-index:1;
    top: 0;
    left: 0;
}
.arrow {
    opacity:0;
    position: absolute;
    left: 0px;
}
.nav::after {
 content: "";
 position: absolute;
 display: inline-block;
 width: 150px;
 height: 150px;
 top: -70px;
 left: -70px;
 background-color: #fff;
 border-radius: 50%;
z-index: -1;
transition: 0.5s;
}
.checkbox:checked ~ .nav .bars {
    scale: 0;
}

.checkbox:checked ~ .nav .arrow {
    scale:1;
    opacity: 1;
}
.checkbox:checked ~ .nav::after {
    scale: 50;
}

.content-a {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
   max-width: 100%;
    transition: 2s;
}
.content-a a{
    width: 150px;
    padding: 10px 10px 10px 25px;
    text-align:left;
    color:#30a3fb ;
    text-decoration: none;
    font-weight: bolder;
}

.content-a a:focus {
    background-color: #403a3a36;
    color: black;
}

.heding {
    display: flex;
    flex-direction: column;
    margin: 250px 15% 250px auto; 
    line-height: 2;
    text-align: right;
    color: #fff;
    font-weight: lighter;
}
h1 {
    font-weight: 600;
    font-size: 40px;
}
.heding  span {
    font-size:28px ;

}