.lists {
    text-align: justify;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  .list-item {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px 3px #ddd;
    padding: 20px;
    width: 20%;
    border-radius: 5px;
  }
  .item:hover {
    border: 2px solid #c23434;
    border-radius: 5px;
    cursor: pointer;
  }
  
  i {
    width: 80px;
    margin-top: 10px;
    height: 80px;
    font-size: 70px;
    line-height: 1 !important;
    color: orange;
  }

.item-header {
    
    width: 100%;
    display: flex;
}
.item-header i {
    width: 30%;
} 
.item-header span {
 
    width: 70%;
}
  span {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 25px;
    text-align: left;

  }
  
  p {

    text-align: justify;
    word-break: keep-all;
  }
.item a {
    text-align: justify;
    text-decoration: none;
    font-weight: 800;
}