@media screen and (max-width: 1399px){
   
}

@media screen and (max-width: 1199px){
 
}

@media screen and (max-width: 991px){
    .header label {
        display: block;
      }
      .header {
        position: relative; 
        display: flex;
        flex-direction: column;      
      }
      .header-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .header-respon {
       
        
    
      }
      .header-respon, .header-respon .header-navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }
      .header-navbar a {
        padding: 10px;
      }
      .header-search {
        padding: 10px;
      }
      .header-respon-none {
        display: none;
        transform: translate(0, 100%);
        transition-property:transform ;
        transition: 2s all ease;
      }
      .header input:checked ~    .header-respon-none {
        display: block;
        transform: translate(0 , 0);
        transition: 2s all ease;
      }
    }

@media screen and (max-width: 767px){
    
}

@media screen and (max-width: 575px){
    
}