/* Các đơn vị trong css
1. Đơn vị tuyệt đối
-pixel (px)
-ooint (pt) . 1pt = 1.3 px
2. Đơn vị tương đối
- em : tương đối với thành phần trang
- rem : tương đối với mặc định trình duyệt
- % : tương đối với thành phần trang
học ở thuộc tính width, height
- Vw
-vh
*/
/* html: chỉnh lại font size toàn bộ  */
html {
    font-size: 20px;
}
/* font-size:*/
.content {
    font-size:30px ;

}

.content p {
    /* font size mặc định của trình duyệt là 16px */
    /* font-size: 2em; */
    /* 20% của font size content */
    /* font-size: 200%; */
    /* 3rem được tính theo 2 * 16 px */
    /* rem được tính theo giá trị mặc định của trình duyệt */
    font-size: 3rem;
}
.content p span {
    font-size: 2em;
}