
.item {
    margin-top: 50px;
    display: flex;
   justify-content: center;
}
.list{
    display: flex;
    justify-content: center;
}
.item_product {
    width: auto; ;
    margin: 2px;
    position: relative;
}
.seller {
    width: 100%;
}

.container {
    text-align: center;
}
/* btn */
.btn {
    display: flex;
    justify-content: center;
}



.img-product img {
    width: 300px;
}

.btn-hover {
    position: absolute;
    display: none;
    font-size: 15px;
    left: 5px;
    right: 0px;
    top: 90%;
   
}

.item_product:hover .btn-hover {
    display: inline;
   }
.btn-hover-icon {
    justify-content: space-between;
    margin-top: -70px;
}

.btn-hover-icon i {
    padding: 10px;
    margin-left:5px ;
    color: rgb(255, 255, 255);
    background-color: rgb(28, 65, 65);
}
.btn-hover button {
    background-color: rgb(28, 65, 65) ;
    color: white;
    font-size: 15px;
    border: none;
    margin-top: 10px;
   padding: 10px 30px 10px 35px;
}

.img-hover {
    display: none;
}

.img-product:hover .img-hover {
    display: inline;
}
.img-product:hover img {
    display: none;
}

/* /* btn-item/ */
 .btn-item button {
    border: none;
    font-size: 15px;
    padding: 15px;
    margin: 2px;
 }

 .btn-item button:hover {
    background-color: rgb(28, 65, 65);
    color: white;
    cursor: pointer;
 }