* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Asap', sans-serif;
}
.content {
    height: 100vh;
    height: 100%;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0% {
        background-position: 0 50%;
    }
    0% {
        background-position: 100% 50%;
    }
    0% {
        background-position: 0 50%;
    }
}

.body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 0px 1px 0px;
}
h1 {
    text-transform: uppercase;
    font-size: 130%;
    margin: 2% 0px 2% 0px;
}
.list {
    display: flex;
}
.list-id {
    padding: 10px ;
    border: 1px solid black;
    width: 12.5%;
    box-sizing: initial;
    border-radius: 50px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.173);
    text-align: center;
    border: none;
}
.list-id:first-child {
    background-color:hsl(0, 53%, 54%);
    color: #fff;
}

.list-id p {
    font-weight: 600;
    text-transform: capitalize;
}

.list-id span {
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
}

.item {
    display: flex;
    margin: 1.5% 0px 1.5% 0px;
}

.item .grow {
    width: 33.33333%;
    margin-right: 1%;
    position: relative;

}

.grow img {
    border-radius: 10px;
    max-width: 100%;
}

.grow .p-top {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    font-size: 150%;
    font-weight: 700;
}

.grow .p-bottom {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #fff;
    font-size: 150%;
    font-weight: 700;
}
.grow .p-bottom span {
   font-size:15px;
    font-weight: 100;
}