$primaryColor:  hsla(100, 84%, 38%, 1);
$secondaryColor: hsla(21, 100%, 44%, 1);
$font: Inter ,san-serif;
$textColor:hsla(0, 0%, 14%, 1);
$linkColor:hsla(0, 0%, 14%, 1);
$headingColor:hsla(0, 0%, 14%, 1);
$fontSize: 1.6rem;