.lists {
    text-align: center;
    padding: 20px;
  }
  
  .list-item {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 3px #ddd;
    padding: 20px;
    width: 25%;
    /* height: 20%; */
  }
  
  i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid orange;
    font-size: 40px;
    line-height: 2 !important;
    color: orange;
  }


  span {
    margin-top: 20px;
    font-weight: 600;
    font-size: 25px;
  }
  
  p {
    text-transform: capitalize;
  }
  button {
    padding: 10px;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.245);
  }

  button:focus {
    background-color: rgb(182, 128, 27);
  }