/* flex : là một kỹ thuật chia layout trong
-flex container : thẻ bọc
-flex item : thẻ con
flex-direction:điều chỉnh hướng của chục chính
website học flex : https://the-echoplex.net/flexyboxes/
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
.products {
    width: 400px;
    height: 400px;
    border: 1px solid black;   
    padding: 15rem 2rem 0rem 0rem;
    flex-direction:column-reverse ;
}

.products .item {
    background-color: aqua;
    border: 1px solid black;
}