/* Với id thì sẽ dùng # với class sẽ dùng .
id > class > tag name */
#select-css{
    color: ;
}

.heading-1 {
    color: aquamarine;
}
.paragrap{
    color: rgba(51, 245, 2, 0.954);
}

h2 {
    color: ;
}

/* > dùng để tỏ đến cấp con  */
/* dấu cách dùng để trỏ để bên trong và ko giới hạn cấp */
/* khai báo càng chi tiết độ ưu tiên càng cao */
.content > h2{
    color: aqua;
}
/* ~ sau thẻ p nhưng cùng cấp và phỉa cùng 1  */
.box p ~ ul{
    color: rgb(1, 225, 151);
}
/* ko cùng cấp  */
.box p ~ div ul{
    color: blue;
}

/* nhóm những cái cùng nhau lại */
.box p ~ ul , .box p ~ div ul{
    color: aqua;
}
/* Dấu + là ngay sau nó */
/* .box-1 p + h2 {
    color: brown;
} */

/* .box-1 p+ h2 + h2 + h2{
    color: aqua;
} */
/* h2 sau tất cả đổi màu s */
.box-1 h2 + h2{
    color: rgb(153, 61, 51);
}