* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: 0;
    text-decoration: none;
}

.box {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 5%;
}

.box span {
    width: 100px;
    height: 100px;
    background-color: brown;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    translate:-50% -50%;
    top: 50%;
    left: 50%;
}

.content {
    width: 100%;
    height: auto;
    border: 1px solid black;
    font-size: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
}

.content img {
   max-width: 100%;
    height: 500px;
}

.content button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.41);
    border: none;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 0.5%;
    translate: 0 -50%;
}
.content button:hover {
    background-color: rgba(137, 43, 226, 0.437);
}

.content button a {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .btn {

    left: 99%;
    translate: -90% -50%;
    
}
.content .btn  a {
    rotate: 180deg;
}

.dots {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    bottom: 1%;
    left: 50%;
    translate: -50%;
}

.dots span {
    background-color: rgb(228, 222, 222);
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.dots span:nth-child(1) {
    background-color: gold;
}

.dots span:hover {
    background-color: gold;

}