/* thuộc tính tranform thay đổi hình dạng của 1 khối
- xoauy
- phóng to , thu nhỏ
-nghiêng
- di chuyển
transform: scale() phóng to kích thước 
transform: skew( 30deg , 50deg) : dùng để tạo độ nghiêng 
*/

.wrap {
    margin: 10%;
    padding: 30px;
    border: 1px solid black;
}
.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    transition: all 0.2s linear;
    }

.wrap:hover .box {
    transform:rotateZ(360deg) scale(3)  ;
    /* transform: rotateZ(-180deg) rotateY(-180deg) rotateX(-180deg); */
    transform: skew( 30deg , 50deg) ;
}