* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: gray;
}

.item {
	position: relative;
	transition: 0.2s;
	cursor: pointer;
}

.item:hover {
	overflow: visible;
	translate: 0 20px;
}

.item:before {
	content: "";
	z-index: -1;
	position: absolute;
	bottom: -100%;
	width: 400px;
	height: 200px;
	border-radius: 40%;
	background: rgba(0, 0, 0, 0.55);
	scale: 1 0.12;
	filter: blur(40px);
	transition: 0.3s;
}

.item:hover::before {
	scale: 0.7 0.12;
	bottom: -70%;
}

.box {
	width: 0;
	height: 0;
	border-style: solid;
	transition: 0.4s;
}

.box-1 {
	position: relative;
	z-index: 4;
	border-top: 100px solid transparent;
	border-right: 200px solid #e46357;
	border-bottom: 100px solid #e46357;
	border-left: 200px solid transparent;
}

.box-2 {
	position: absolute;
	z-index: 3;
	top: 0;
	border-top: 100px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 100px solid #dd564b;
	border-left: 200px solid #dd564b;
}

.box-3 {
	position: absolute;
	z-index: 2;
	top: 0;
	border-top: 100px solid #cc4e43;
	border-right: 200px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 200px solid transparent;
	/* transition-delay: 0.4s; */
}

.item:hover .box-3 {
	transition-delay: 0s;
	/* z-index: 1; */
}

.box-4 {
	position: absolute;
	z-index: 3;
	top: -100%;
	transform: rotateX(180deg);
	transform-origin: bottom;
	border-top: 100px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 100px solid #cc4e43;
	border-left: 200px solid transparent;
	transition-delay: 0.3s;
}

.item:hover .box-4 {
	z-index: 1;
	transform: rotateX(0);
	transition-delay: 0s;
}

.box-5 {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform-origin: top;
	rotate: 180deg;
	translate: -50%;
	width: 300px;
	height: 100px;
	background: white;
}

.item:hover .box-5 {
	height: 250px;
	transition-delay: 0.2s;
}
